.slides section .logo {
	   width: 300px;
	   background: 0;
	   border: 0;
	   box-shadow: none;
}

.slides section .image {
	width: 485px;
}

.slides section .image.small {
	width: 700px;
    height: 150px;
}

.reveal a {
	color: white;
}

emp {
	background: #555;
    padding: 3px;
}

.reveal h3 {
	  text-transform: none;
	  font-family: "Lato", sans-serif;
}

.reveal pre {
	margin-top: 0px;
	box-shadow: none;
}

.reveal pre code {
	padding: 0px 25px;
}

.reveal .file-path {
	box-shadow: none;
	position: relative;
    width: 90%;
    margin: 20px auto;
    text-align: left;
    font-size: 20px;
    font-family: monospace;
    line-height: 1.2em;
    word-wrap: break-word;
    margin-bottom: -15px;
}